ac-comphist.dat
auto-save-list
bookmarks
eshell
*~
tramp
session.*
elpa.bak
\.#*
projectile-bookmarks.eld
*.elc
.cache
elpa
transient/history.el
url/cookies
recentf
eln-cache
.lsp-session-v1
amx-items
